numpy==1.23.5
pandas==2.2.3
scikit-learn==1.5.2
scikit-image==0.18.0
opencv-python==4.7.0.72
scipy==1.10.1
pillow==9.4.0
tensorflow==2.12.0
tensorflow-io==0.31.0
pyqt5==5.15.9
cairocffi==1.5.1
PySide2==5.15.2.1
PySide6==6.8.0.2
pygame==2.6.1
QT-PyQt-PySide-Custom-Widgets == 1.0.2
matplotlib==3.3.4
jinja2==3.1.4
pdfkit==1.0.0
tqdm==4.67.0
PyWavelets==1.6.0
nashpy==0.0.41
multipledispatch==1.0.0